.fv-header-page{
    margin-top: 2%;
    direction: rtl;
    max-width: 100%;
    padding-bottom: 3%;
    box-shadow: 7px 19px 15px -8px #82a2a285;
    display: inline-block;

    img{
        width: 100%;
        height: 40px;
    }
    .fv-menu-cascade{
        display: grid;
        margin-right: 39%;
        padding-top: 4%;
        padding-right: 14%;
        font-weight: 400;
        width: 80%;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 9px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid rgba(0, 0, 0, 0.15);
        position: absolute;
        background: white;

        .fv-exit-menu-text{
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            margin: 0;
            margin-right: -10%;
            padding-top: 5%;
        }
    }
    .col-md-2{
        text-align: start;
    }
    .fv-header-button{
        font-weight: 500;
        font-size: 16px;
    }
    .fv-header-top{
        align-items: center;
        margin-right: 5%;
    }
}
.fv-search-box-page{
   background: #e5f5f5;
    line-height: 40px;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
}
.fv-search-box-page input{
    width: 150%;
    background: #e5f5f5;
    border:1px solid  #e5f5f5;
    border-radius: 10px;
}
.awssld {
    margin-top: 0 !important;
}

@media (max-width: 768px) {
    .fv-search-box{
        display: none;
    }
    .fv-header-page .fv-header-top .col-md-2 {
        text-align: center;
        background: aliceblue;
        margin-right: -3%;
        margin-bottom: 3%;
    }
    .fv-header-page .fv-menu-cascade {
        margin-right: -11%;
        padding-top: 4%;
        padding-right: 13%;
        width: 109%;
        z-index: 2;
    }
    .fv-header-button{
        display: none;
    }
    .awssld {
        z-index: 1;
    }
}
